<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<script>
      !(function(f,d){var a=d.documentElement,c=640,b=f.screen.width||320,e=parseFloat(b/c).toFixed(2);document.write('<meta name="viewport" content="width='+c+", minimum-scale = "+e+", maximum-scale = "+e+'", user-scalable=no">')})(window,document);
  </script>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/> -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection"/>
    <meta content="address=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    {% block globalCss %}{% endblock %}
    {% block css %}{% endblock %}

    {% block stylePage %}{% endblock %}
</head>
<body {% block bodyClass %}{% endblock %}>
  {% block body %}{% endblock %}

  {% block globalJs %}{% endblock %}
  {% block js %}{% endblock %}
  {% block jsPage %}{% endblock %}
</body>
</html>
