{% extends "_layout/layout.html" %}

{# 页面内联css文件 #}
{% block pageCss %}
    <!--
    <style>
      .demo{}
    </style>

    or

    <link rel="stylesheet" href="">
    -->
{% endblock %}

{# body内容 #}
{% block body %}
  	<h1>首页</h1>

    {# 不编译,只读 #}
    {% raw %}
    <script type="text/html">
      {{ each item as i value}}
        {{i}} : {{ value}} <br />
      {{/each}}
    </script>
    {% endraw %}
{% endblock %}


{% block jsPage %}
<!--
    <script>
      // code
    </script>

  or

    <script src="{{static}}/js/backbone.js"></script>
-->
{% endblock %}
